[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyfakefs = "*"
pytest = "*"

[packages]
appnope = "*"
beautifulsoup4 = "*"
jupyter = "*"
numpy = "*"
pandas = "*"
requests = "*"
tensorflow = "*"
tqdm = "*"
transformers = "*"

[requires]
python_version = "3.7"
